@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

html {
  background: #eee;
  height: 100%;
}

.LandingPage {
  text-align: center;
  padding-top: 2rem;
}

.LandingPage h1 {
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #f09d51;
}

.LandingPage h2 {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 10rem;
  color: #333;
}

.Form .input-field {
  height: 4vh;
  width: 15vw;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #333;
  color: white;
}

.Form .input-field::placeholder{
  color: white;
}

.Form .button {
  height: 4vh;
  width: 4vw;
  margin-left: 0.5rem;
  background-color: #eee;
  border: 1px solid #333;
  color: #333;
}

.Form .button:hover {
  height: 4.2vh;
  width: 4.2vw;
  transition: 0.4s;
  background-color: #f09d51;
  color: white;
  
}

.Footer a{
  text-decoration: none;
}

.Footer {
  position: absolute;
  font-size: 0.8rem;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.Footer a:hover {
  transition: 0.5s;
  color: #f09d51;
  font-size: 0.9rem;
}


